.Todo {
  width: 90%;
  background:#ddd;
  color: #222;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: 'Open Sans', sans-serif;
  border-radius: 5px;

  @media (min-width: 640px) {
    width: 600px;
  }

  h2 {
    text-align: center;
  }
}

.Todo-inner {
  margin: 20px;
  @media (min-width: 640px) {
    margin: 40px;
  }
}

.Todo-formItem {
  position: relative;
}

.Todo-input {
  padding: 20px 50px 20px 20px;
  border: none;
  width: 100%;
  border-radius: 5px;
  font-size: 1em;
  line-height: 1.6;
  margin: 10px 0;
}

.Todo-list {
  padding: 0;
  list-style: none;
}

.Todo-item {
  padding: 20px 105px 20px 60px;
  background: white;
  margin: 10px 0;
  border-radius: 5px;
  position: relative;
}

.Todo-item--checked {
  background: rgba(white, 0.5);
}

.Todo-text {
  line-height: 1.6;
  font-size: 1em;
  width: 100%;
  border: none;
  background: none;
  resize: none;

  .Todo-item--checked & {
    color: #999;
    font-style: italic;
    text-decoration: line-through;
  }
}

.Todo-button {
  color: white;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  border: none;
  background: #3BB1D9;

  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 0;
  cursor: pointer;

  &:hover {
    background: darken(#3BB1D9, 10%);
  }

  &:focus {
    outline: none;
  }

}

.Todo-button--check {
  left: 10px;
  right: auto;
  background: #DDD;

  &:hover {
    background: #3ABDAF;
  }

  .Todo-item--checked & {
    background: #3ABDAF;
  }
}

.Todo-button--delete {
  background: #ED5465;

  &:hover {
    background: darken(#ED5465, 10%);
  }
}

.Todo-button--edit {
  right: 55px;
  background: #B377D8;

  &:hover {
    background: darken(#B377D8, 10%);
  }

  .Todo-item--checked & {
    display: none;
  }

}

.Todo-button--update {
  right: 55px;
}

.Todo-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 24px;
  height: 24px;
}

.Todo-icon--add {
  background-image: url(../images/add.svg);
  background-size: cover;
}

.Todo-icon--check {
  background-image: url(../images/check.svg);
  background-size: cover;
}

.Todo-icon--edit {
  background-image: url(../images/edit.svg);
  background-size: cover;
}

.Todo-icon--delete {
  background-image: url(../images/remove.svg);
  background-size: cover;
}

.Todo-icon--update {
  background-image: url(../images/save.svg);
  background-size: cover;
}
